html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
        Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    line-height: 1.6;
    font-size: 18px;
    background-color: #080410;
    color: aliceblue;
}

* {
    box-sizing: border-box;
}

a {
    color: #F6B46F;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


.cool-button {
    width: 200px;
    mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #362BCF 25%, #170F40 75%, rgba(255, 255, 255, 0) 100%);
    margin: 0 auto;
    padding: 10px 0;
    text-align: center;
    background: linear-gradient(90deg, #080410 0%, #080410 25%, #080410 75%, #080410 100%);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px #E79F5E;
    /* padding-right: 100px;
    padding-left: 100px; */
    padding: 18px;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
        Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    text-transform: uppercase;
    color: #F6B46F;
    font-size: 15px;
    text-decoration: none;
    display: block;
}

.cool-button:hover {
    background: rgba(242, 138, 61, 0.1);
    color: #F6B46F;
}


/**
Transparent Fading Navigation Bar
Created by MrPirrera
https://templateyou.com/free-html-css-horizontal-menus/
**/
nav {
    max-width: 960px;
    mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #362BCF 25%, #170F40 75%, rgba(255, 255, 255, 0) 100%);
    margin: 0 auto;
}

nav ul {
    text-align: center;
    background: linear-gradient(90deg, #080410 0%, #080410 25%, #080410 75%, #080410 100%);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px #E79F5E;
    padding-right: 100px;
    padding-left: 100px;


}

nav ul li {
    display: inline-block;
}

nav ul li a {
    padding: 18px;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
        Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    text-transform: uppercase;
    color: #F6B46F;
    font-size: 15px;
    text-decoration: none;
    display: block;
    transition: ease 0.5s;
}

@media only screen and (max-width: 700px) {
    nav ul li a {
        padding-top: 5px;
        padding-bottom: 5px;
    }
}

nav ul li a:hover {
    background: rgba(242, 138, 61, 0.1);
    color: #F6B46F;
}


/* 
https://freefrontend.com/css-image-grids/ 
https://codepen.io/rrenula/pen/nJmQed
*/

.wrapper {
    width: 80%;
    margin: 0px auto;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery img {
    width: 400px;
    height: 400px;
    margin: 10px;
    padding: 0px;
    z-index: 0;
    object-fit: cover;
}

.placeholder {
    width: 400px;
    height: 400px;
    margin: 10px;
    padding: 0px;
    z-index: 0;
    background-color: #180e2e;
}

/* animation */
.gallery img {
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.gallery img:hover {
    cursor: pointer;
    padding: 5px;
}


/* Social icons */


#social-test {
    text-align: center;
    font-size: 30px;
    height: 50px;

}

@media only screen and (max-width: 700px) {
    #social-test {
        height: 40px;
    }
}


.social {
    padding-left: 0px;
    margin-top: 0;
    margin-bottom: 0;
}

.social li a {
    color: rgba(242, 138, 61, 0.6);
}

.social li {
    color: rgba(242, 138, 61, 0.6);
    list-style-type: none;
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border: 1px solid rgba(242, 138, 61, 0.4);
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
    transition: ease .3s;
    border-radius: 10px;

}

@media only screen and (max-width: 700px) {
    .social li {
        border: none;
    }

    .social li:hover {
        color: rgba(242, 138, 61, 1);
        border: none;
    }
}



.social li:hover {
    color: rgba(242, 138, 61, 1);
}


.social:hover>li {
    opacity: 0.5;
}

.social:hover>li:hover {
    opacity: 1;
}