.heading2Xl {
    font-size: 2.5rem;
    line-height: 1.2;
    font-weight: 800;
    letter-spacing: 0.2rem;
    margin: 1rem 0;
}

@media only screen and (max-width: 700px) {
    .heading2Xl {
        font-size: 1.5rem;
    }
}

.headingXl {
    font-size: 2rem;
    line-height: 1.3;
    font-weight: 800;
    letter-spacing: -0.05rem;
    margin: 1rem 0;
}

.headingLg {
    font-size: 1.5rem;
    line-height: 1.4;
    margin: 1rem 0;
}

.headingLgCentred {
    text-align: center;
    font-size: 1.5rem;
    line-height: 1.4;
    margin: 1rem 0;
}

.headingMd {
    font-size: 1.2rem;
    line-height: 1.5;
}

.borderCircle {
    border-radius: 9999px;
}

.colorInherit {
    color: inherit;
}

.padding1px {
    padding-top: 1px;
}

.marginBottom50px {
    margin-bottom: 50px;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.listItem {
    margin: 0 0 1.25rem;
}

.lightText {
    color: #666;
}

.underline {
    text-align: center;
    mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #362BCF 25%, #170F40 75%, rgba(255, 255, 255, 0) 100%);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 -1px #E79F5E;
    padding-right: 100px;
    padding-left: 100px;
    padding-top: 10px;
}

.textAlignCentre {
    text-align: center;
}


.block {
    display: block;
}

.marginAuto {
    margin: auto;
}


.profileImage {
    transition: ease 0.1s;
}

@media only screen and (max-width: 700px) {

    .profileImage {
        width: 100px;
        height: 100px;
    }
}